.btn {
  background-color: $color-ottoman;
  border: 1px solid transparent;
  color: $color-jaguar;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 21.6px;
  font-family: $ff-secondary;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-jaguar;
    border-radius: 50px;
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity $transition-300;
    z-index: -1;
  }

  &:hover::after,
  &:focus-visible::after {
    opacity: 1;
  }

  @include vp-1023 {
    padding: 10px;
  }
}