.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:hover,
    &:focus-visible {
      animation: pulseGlow 2s infinite;
    }
  }

  &--error &__field {
    border: 1px solid $color-orange-red;
    background-color: rgb(235, 55, 2, 0.1);
    position: relative;

    &::placeholder {
      color: rgb(235, 55, 2, 0.7);
      ;
    }
  }

  &__error {
    display: none;
    position: absolute;
    bottom: -22px;
    left: 20px;
    color: $color-orange-red;
  }

  &--error &__error {
    display: block;
  }
}

@keyframes pulseGlow {

  0%,
  100% {
    box-shadow: 0 0 0 rgba($color-jaguar, 0);
  }

  50% {
    box-shadow: 0 0 15px rgba($color-jaguar, 0.2);
  }
}